<form action="/bookings" method="POST">
    <button type="submit" style="background-color: #00b35c; padding: 5px 6px; border-radius: 10px; color: #000000; font-weight: 700;">Book Now</button>
    <input type="hidden" name="id" value="<%= home._id %>">
</form>