<form action="/favourites" method="POST">
    <button type="submit" style="background-color: #ff002f; padding: 5px 6px; border-radius: 10px; color: #fff;">Add to Favourite</button>
    <input type="hidden" name="id" value="<%= home._id %>">
</form>